<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Flow Event Reports</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <style>
      body {
        font-family: 'Roboto', sans-serif;
      }
      .title-box {
        display: flex;
        justify-content: center;
      }
      .image-box {
        display: flex;
      }
      .event-box {
        display: flex;
        flex-direction: column;
      }
      .events-box {
        display: flex;
        justify-content: space-around;
      }
    </style>
  </head>
  <body>
    <div
      class="title-box">
      <h1>Flow Events</h1>
    </div>
    <div
      class="events-box">
      <div
        class="event-box">
        <div
          class="title-box">
          <h2>First Paint</h2>
        </div>
        <div
          class="image-box">
          <img
            src="data:image/png;base64,{{firstPaint.event.beforeSnapshot}}">
          <img
            src="data:image/png;base64,{{firstPaint.event.afterSnapshot}}">
        </div>
        <p>First Paint - {{firstPaint.deltaTime}}ms</p>
        <p>Difference {{firstPaint.event.difference}}%</p>
      </div>
      <div
        class="event-box">
        <div
          class="title-box">
          <h2>Finished Paint</h2>
        </div>
        <div
          class="image-box">
          <img
            src="data:image/png;base64,{{finalPaint.event.beforeSnapshot}}">
          <img
            src="data:image/png;base64,{{finalPaint.event.afterSnapshot}}">
        </div>
        <p>Final Paint - {{finalPaint.deltaTime}}ms</p>
        <p>Difference {{finalPaint.event.difference}}%</p>
      </div>
    </div>
  </body>
</html>